.about {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #00000027, #fff);
  align-items: center;
  justify-content: center;
  padding: 0 7rem;
}

.about h1 {
  font-size: 3rem;
  font-weight: 400;
}

.about__img img {
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(
    to top left,
    var(--terc-color) 50%,
    transparent 50%
  );
  border-bottom-right-radius: 15px;
}

.about-content span {
  color: var(--main-color);
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.about__content p {
  text-indent: 50px;
  text-align: justify;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-image: linear-gradient(160deg, transparent 40%, var(--main-color)) 1;
  padding-right: 0.5rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.15rem;
  line-height: 1.7rem;
  text-indent: 30px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.about h1 {
  text-shadow: 0 0 2px var(--main-color);
  color: var(--second-color);
}

/* RESPONSIVE */

@media (min-width: 0px) {
  .about {
    padding: 1rem 3rem;
    padding-top: 5rem;
    & h1 {
      font-size: 2.5rem;
    }
  }

  .about__content {
    gap: 1rem;
    width: 100%;
  }

  .about__content p {
    line-height: 1.5rem;
  }

  .about__img {
    width: 50%;
  }

  .about__container {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2rem;
    height: 100%;
  }
}

@media (min-width: 576px) {
  .about {
    padding: 1rem 7rem;
  }
}

@media (min-width: 768px) {
  .about__container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .about__content {
    width: 60%;
  }

  .about__img {
    width: 45%;
  }

  .about {
    padding: 0 3rem;
    & h1 {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .about {
    padding: 7rem;
  }

  .about__img {
    width: 30%;
  }

  .about__content {
    width: 55%;
  }

  .about__content p {
    line-height: 1.9rem;
  }
}
/* /RESPONSIVE */
