.edit__container__main {
  min-height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.edit__input__box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.edit__container__main label {
  font-size: 0.8rem;
}

.edit__container__main textarea {
  width: 100%;
}

.edit__container {
  width: 30rem;
  display: flex;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px #6868689f;
  border: none;
  background-color: #fafafa;
}

.edit__input__box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & input {
    width: 100%;
  }
}

.edit__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit__container__id {
  font-size: 0.85rem;
  color: #363636;
  cursor: pointer;
}

.edit__container__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 5px;
  border: transparent;
  color: #fff;
  height: 1.8rem;
}

.edit__container__btn:hover {
  opacity: 0.9;
}

.cancel__btn {
  background-color: #f00;
}

.save__btn {
  background-color: rgb(0, 99, 247);
}
