header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 100;
  padding: 0.2rem 3rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px #5c5c5c28;
}

.responsive__nav,
.menu__hamburguer {
  display: none;
}

.nav__links {
  display: flex;
  gap: 3rem;
  flex-direction: row;
  & a {
    padding: 0 1rem;
    color: var(--second-color);
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.nav__links a::after {
  content: "";
  width: 70%;
  position: absolute;
  background-color: var(--terc-color);
  height: 1px;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.4s ease;
  transform-origin: center;
}

.nav__links a:hover::after {
  transform: scaleX(1);
}

.nav__links a:hover {
  padding: 0 1rem;
  color: var(--main-color);
}

.logo img {
  width: 100%;
  object-fit: cover;
}

.logo {
  cursor: default;
  max-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /NAV */

/* RESPONSIVE NAV */

.bar1,
.bar2,
.bar3 {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--black-color);
  margin: 0.3rem 0;
  transition: 0.3s ease;
  background-color: var(--terc-color);
}

.change .bar1 {
  transform: translate(0, 0.5rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.47rem) rotate(45deg);
}

.menu__hamburguer {
  cursor: pointer;
}

.responsive__nav {
  top: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 100;
  background-color: #000000e8;
}

.responsive__nav * {
  display: block;
  margin: 1rem;
  color: #fff;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
}

.responsive__nav a:hover {
  color: var(--main-color);
}

/* /RESPONSIVE NAV */

@media (min-width: 0px) {
  .nav {
    display: none;
  }

  .menu__hamburguer {
    display: block;
  }

  header {
    padding: 0.2rem 1rem;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  header {
    padding: 0.2rem 3rem;
  }

  .nav {
    display: flex;
  }

  .menu__hamburguer {
    display: none;
  }
}

@media (min-width: 992px) {
}
